:root {
    --purple: rgb(73, 0, 122);
}
* {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    background-color: orange;
    font-size: 4em;
    border-radius:30px;
    color:purple;
    box-shadow: 9px 15px 35px 0px black;
}
title{
    display: none;
}
body{
    background-color: var(--purple);
}
button {
    background-color: var(--purple);
    color:orange
    
}
section{
    background-color: orange;
    border-radius: 20px;
    box-shadow: 9px 15px 35px 0px black;
}
div{
    background-color: orange;
    border-radius: 10px;
    box-shadow: 9px 15px 35px 0px black;
}
span{
    background-color: orange;
    border-radius: 5px;
    box-shadow: 9px 15px 35px 0px black;
}